
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.header {
  padding: 1vh 0;
  background-color: limegreen;
  color: whitesmoke;
  text-align: center;
  font-size: 60px;
}
.container {
  padding: 0 5vw;
}
.word-cloud {
  padding-block: 5vh;
}
.word-cloud svg g text:focus {
    outline: none;
    
}
footer {
  margin-top: auto;
  background-color: darkred;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vh 0;
}
footer a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 700px) {
  .header {
    font-size: 36px;
  }
}
